# Environment Variables for InfiniteCareers Frontend
NEXT_PUBLIC_APP_NAME="InfiniteCareers"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:8080/api/v1"

# Database connection for Next.js internal API/Prisma
DATABASE_URL="file:./dev.db"

# Session & Auth
NEXTAUTH_SECRET="infinitecareers_super_secret_jwt_key_2026"
NEXTAUTH_URL="http://localhost:3000"
