# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
out/
build/
dist/
target/
*.tsbuildinfo
*.log

# Environment & Secrets
.env
.env*.local
*.pem
*.key

# Database
*.db
*.sqlite
*.sqlite3

# OS metadata
.DS_Store
Thumbs.db

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo
